:root {
    --point-color: #f37b67;
    --text-color: #616161;
    --section-padding-top: 100px;
    --section-padding-bottom: 100px;
}


* {
    margin: 0;
    padding: 0;
    position: relative;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit
}

ul,
li,
ol {
    list-style: none;
}

body {
    font-family: 'Gothic A1', sans-serif;
}

p {
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight:400;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.bold {
    font-weight:600;
}


                    /* 공통:섹션타이틀 */
.section-title {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.section-title .title1 {
    color: var(--point-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    text-transform: capitalize;
}

.section-title .title2 {
    font-size: 40px;
    color: #454545;
    line-height: 1.3;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    word-wrap: break-word;
    font-family: 'Archivo Black', sans-serif;
}

.section-title .title3 {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.4;
    color: #454545;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;

}


                        /* 아이템 타이틀, 글 */
.item .text-box {}

.item .text-box .text1 {}

.item .text-box .text2 {}

.item .text-box .text3 {}

                        /* 공통:인풋, 버튼 */

.btn {
    background-color: transparent;
    outline: none;
    color: #333333;
    height: 42px;
    line-height: 42px;
    width: auto;
    padding: 0 36px;
    box-sizing: border-box;
    cursor: pointer;
    display: table;
    font-family: 'Gothic A1', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    border:1px solid var(--point-color);
    transition:0.2s;
}

.btn:hover {
    background-color:var(--point-color);
    border:1.5px solid #bb341c;
    color:white;
}


.more-btn {
    font-size: 13px;
    color: #333333;
    font-weight: 600;
    line-height: 2em;
}

.more-btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--point-color);
    position: absolute;
    left: -30px;
    top: 50%;
}

.more-btn:hover {}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    color: #333333;
    cursor: pointer;
    padding: 5px;
}

input::placeholder {
    color: #999999;
}

input:focus {
    border-color: #333333;
}

input:focus::placeholder {}

                        /* 아이템 타이틀, 글 */
.item .text-box {
}

.item .text-box .text1 {
    font-size: 13px;
    color: var(--point-color);
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 8px;
    text-transform: capitalize;
}

.item .text-box .text2 {
    font-size: 20px;
    color: #666666;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

                    /* 상단 */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    top:0;
    left:0;
    z-index:99999;
}

.nonscroll-top {
    display: flex;
    color: black;
    margin: 0 auto;
}

.nonscroll-top .logo {
    width: 130px;
    height:30px;
    position: absolute;
    top:20px;
    left:5%;
}

.nonscroll-top .logo img {
    width: 100%;
}

.nonscroll-top .menu {
    position: absolute;
    top:25px;
    left:15%;
    display:block;
}

.nonscroll-top nav {
    display: flex;
}

.nonscroll-top .nav-ul {
    width:180px;
    text-align:center;
}

.nonscroll-top .nav-ul p {
    font-size:20px;
}

.nonscroll-top .ul-li {
    left:-10px;
    top:15px;
    width:180px;
    line-height:30px;
    background-color: white;
    display:none;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:20px;
    text-align:left;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nonscroll-top .sub-li-out {
    position: absolute;
    left:300px;
}

.nonscroll-top .ul-li .sub-li:hover {
    color: var(--point-color);
}

.nonscroll-top .btn {
    position: absolute;
    right:18%;
    top:20px;
}
.nonscroll-top .icons {
    position: absolute;
    right:12%;
    top:28px;
    font-size:20px;
}
.nonscroll-top .fa-user {
    margin-right:15px;
    text-align:center;
}
.nonscroll-top .fa-solid {
    margin-right:10px;
    text-align:center;
}

.nonscroll-top .double-btn {
    width: 25px;
    height: 40px;
    position: absolute;
    right:5%;
    top:22px;
    overflow:hidden;
    cursor:pointer;
    display:block;
}


.nonscroll-top .double-btn .line {
    width: 25px;
    height: 1px;
    background-color: #000000;
}

.nonscroll-top .double-btn .line1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nonscroll-top .double-btn .line2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nonscroll-top .double-btn:hover .line2 {
    animation: db1 0.5s forwards;
    animation-delay:0.2s;
}
.nonscroll-top .double-btn:hover .line1 {
    animation: db1 0.5s forwards;
}

.side-box {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:none;
}

.r-bg {
    position: fixed;
    width:20%;
    right:0%;
    height:100vh;
    background-color:rgba(248, 248, 248, 1);
    color:#333333;
}
.r-bg .text-box {
    position: absolute;
    top:8%;
    left:8%;
    width:400px;
    height:1000px;
    word-break: keep-all;
}

.r-bg .text-box .logo {width:150px;}
.r-bg .text-box .logo img {width:100%;}

.r-bg .item {
    position:absolute;
    display:flex;
}
.r-bg .item1 {top:200px}
.r-bg .item2 {top:300px;}
.r-bg .item3 {top:400px;}
.r-bg .item .textlogo {
    line-height:30px;
    margin-right:15px;
}
.r-bg .search-btn {
    border:none;
    background-color:#ababab;
    padding:5px 10px;
    color:rgb(48, 48, 48);
}
.text-in h1 {
    font-size:20px;
    margin-bottom:10px;
}
.text-in p {
    font-size:15px;
}

.l-bg {
    position: fixed;
    width:80%;
    left:0;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.5);
    cursor:none;
}

.l-bg .pointer {
    width:50px;
    position: absolute;
    transform:translate(-50%, -50%);
    display:none;
    filter:brightness(50);
}

.l-bg .pointer img {
    width:100%;
}

.l-bg .pointer.on {
    display:block;
    
}

@keyframes db1 {
    0% {
        left: 50%;
    }
    49% {
        left:160%;
    }
    50% {
        display:none;
        left:-160%;
    }
    51% {
        display:block;
    }
    100% {left:50%}
}


.nonscroll-top .mb-menu-logo {
    display:block;
    font-size:30px;
    position: absolute;
    left:5%;
    top:22px;
    display:none;
    cursor: pointer;
}

.nonscroll-top .size_down_menu {
    position: fixed;
    top:0;
    left:0;
    background-color:white;
    width:100%;
    height:100vh;
    padding:30px 50px;
    display:none;
}

.nonscroll-top .size_down_menu .close {
    width:30px;
    position: absolute;
    top:0;
    right:80px;
    cursor: pointer;
}

.nonscroll-top .size_down_menu .close img {
    width:100%;
    filter:brightness(0);
}

.nonscroll-top .size_down_menu .logo {
    top:0;
    left:70px;
}

.nonscroll-top .size_down_menu .item {
    top:100px;
    display:flex;
    margin-bottom:100px;
}

@media (max-width:1400px) {
    .nonscroll-top .logo {
        left:50%;
        transform:translateX(-50%);
    }
    .nonscroll-top .menu {
        display:none;
    }
    .nonscroll-top .double-btn {
        display:none;
    }
    .nonscroll-top .icons {
        right:5%;
    }
    .nonscroll-top .icons .fa-solid {
        display:none;
    }
    .nonscroll-top .icons .fa-user {
        display:block;
    }
    .nonscroll-top .mb-menu-logo {
        display:block;
    }
}

                    /* 하단 */
section {
    background-color: white;
}

section:last-of-type {
    margin-bottom: 400px;
}

footer {
    padding-top: 100px;
    height: 300px;
    background-color: #333333;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    color:white;
}

footer .container {
    display: flex;
}

footer .item {
    color: rgba(255, 255, 255, 0.8);
    width: 25%;
}

footer .logo {
    width:50px;
    margin-bottom:30px;
}

footer .logo img {
    width:100%;
}
footer .menu {
    line-height:35px;
}

                    /* owl-carousel 공통 스타일 : 방향키 인디케이터 */
.owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index:9999;
}

.owl-nav button {
    width: 16px;
    height: 32px;
    position: absolute;
    top:-16px;
}

.owl-nav button .owl-prev {
    background-image: url(img/left.png) !important;
    position: absolute;
    width:100px;
    left: 0;
}

.owl-nav button .owl-next {
    background-image: url(img/right.png) !important;
    position: absolute;
    right: 0;
}

.owl-nav button span {
    display: none;
}


.owl-dots {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 0;
    overflow:hidden;
}

.owl-dots .owl-dot {
    width: 5px;
    height: 5px;
    background-color: #999999 !important;
    border-radius: 50%;
    margin: 0 8px;

}

.owl-dots .owl-dot.active {
    width: 7px;
    height: 7px;
    background-color: #333333 !important;
}


                    /* SECTION1 */
.section1 {}

.section1 .slider1 {}

.section1 .item {
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(241, 241, 241);

}

.section1 .item .video1 {
    width:90%;
    height:83vh;
    object-fit:cover;
    object-position:center -50px;
    border-radius:30px;
    transition:0.3s;
}

.section1 .item img {
    width: 90%;
    height: 83vh;
    object-fit: cover;
    object-position: center center;
    border-radius:30px;
    transition:0.3s;
}

.section1 .item .section-title {
    position: absolute;
    transform:translate(-50%, -50%) rotate(-7.7deg);
    transition:0.2s;
}

.section1 .item1 .section-title {
    width:700px;
    top:75%;
    left:66%;
}
.section1 .item2 .section-title {
    width:800px;
    top:75%;
    left:66%;
}
.section1 .item3 .section-title {
    width:750px;
    top:75%;
    left:66%;
}
.section1 .item4 .section-title {
    width:600px;
    top:75%;
    left:66%;
}



.section1 .item .section-title .title1 {
    font-size:60px;
    color: white;
    font-weight:600;
    background-color:#161616;
    margin-bottom:-1px;
}
.section1 .item .section-title .title2 {
    color: white;
    font-size:30px;
    font-weight:300;
    background-color:#161616;
}

.section1 .item .section-title .btn {
    color: white;
    background-color:black;
    margin: 50px auto 0;

}
.section1 .owl-nav {
    width: 96%;
    left: 2;
}

.section1 .owl-dots {
    bottom:100px;
}

.section1 .owl-dots .owl-dot {
    background-color: rgb(0, 0, 0) !important;
    border:1px solid rgb(158, 158, 158);
}

@media (max-width:1400px) {
    .section1 .item .video1 {
        object-position:center center;
    }
}


                    /* SECTION2 */
.section2 {
    padding-top:var(--section-padding-top);
    padding-bottom:var(--section-padding-bottom);
}

.section2 .section-title {}

.section2 .box {display:flex;gap:60px;margin-top:50px;}

.section2 .img-box {width:50%;transition:1s;}

.section2 .text-box {
    width:50%;
}

.section2 .box img {width:100%;}

.section2 .imgtag {
    width:100%;
}

.section2 .title3 {
    margin-top:50px;
    text-align:left;
    font-size:20px;
    font-weight:300;
    line-height:50px;
}

.section2 .title3 .bold {
    font-size:40px;
    color:#6b6b6b;
}


                    /* SECTION3 */
.section3 {
    display: flex;
}

.section3 .item {
    width: 50%;
}

.section3 .item-l {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .wrap {
    width: 70%;
}

.section3 .section-title {
    text-align: left;
    width: auto;
}

.section3 .title1 {
    color:#14a15b
}
.section3 .title3 {
    margin-bottom:20px;
    line-height:25px;
}

.section3 .btn {}

.section3 .item-r {}

.section3 .item-r img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SECTION4 */
.section4 {
    background-color: #f8f8f8;
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.section4 .section-title {}

.section4 .container {
    display: flex;
    gap: 30px;
}

.section4 .item {

}

.section4 .item .img-box {
    overflow:hidden;
    transition:1s;
}

.section4 .img-box img {
    width: 100%;
    transition:0.5s;
}
.section4 .img-box:hover img {
    transform:scale(1.05);
}

.section4 .text-box {}

.section4 .text-box .text1 {
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding-top: 10px;
    color:#14a15b;
}

.section4 .text-box .text2 {
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.section4 .text-box .more-btn {
    margin-left:30px;
}


/* SECTION5 */

.section5 {
    background-image: url(img/sc5-bg1.png);
    background-size: cover;
    background-position: center -50px;
    height: 800px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5 .text-box {
    max-width: 90%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 80px;
    text-align: center;
}

.section5 .text-box .text2 {
    font-size: 25px;
}

/* SECTION6*/
.section6 {
    padding-top:var(--section-padding-top);
    padding-bottom:var(--section-padding-top);
}
.section6 .section-title {
    margin-bottom:50px;
}
.section6 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    /*그리드 빈칸없이 빽빽하게 채워기지*/
    row-gap: 200px;
    column-gap: 100px;
    padding-bottom: 20px;
}

.section6 .item-img {
    overflow: hidden;
    height: 10px;
    transition: 1s;
}

.section6 .item-img img {
    object-fit: cover;
    object-position: center center;
}

.section6 .text1 {
    margin-top: 50px;
    margin-left:10px;
}

.section6 .text-t {
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.section6 .img-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 20px;
}

.section6 .img-list .img {
    width: 200px;
    height: 200px;
    background-color: #dddddd;
    overflow:hidden;
    border-radius:20px;
}
.section6 .img-list .img img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center center;
}

.section6 .item:nth-child(3) {
    grid-column: 2;
}

.section6 .item:nth-child(4) {
    grid-column: 1;
}

.section6 .line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: lightgray;
}

.section6 .line .color {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color:var(--point-color);
    width: 100%;
    height: 100px;
    transition: 1s;
}

.section6 .text-box {
    padding-top: 100px;
}

.section6 .text2 {
    top: -20px;
}

.section6 .text2::before {
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    top: 18px;
    width: 50px;
    height: 1px;
    background-color: #333333;
}

.section6 .text2::after {
    content: '';
    display: block;
    z-index: 5;
    position: absolute;
    left: -104px;
    top: 14px;
    width: 8;
    height: 8px;
    background-color: #333333;
    border-radius: 50%;
}

.section6 .item:nth-child(4) .text2 {
    text-align: right;
}

.section6 .item:nth-child(4) .text2::before {
    left: 100%;
}

.section6 .item:nth-child(4) .text2::after {
    left: calc(100% + 97px)
}

.section6 .img-list .img:nth-child(1) {}

.section6 .img-list .img:nth-child(2) {
    transition-delay:0.2s;
}
.section6 .img-list .img:nth-child(3) {
    transition-delay:0.3s;
}
.section6 .img-list .img:nth-child(4) {
    transition-delay:0.4s;
}

.section6 .img-list .img:nth-child(5) {
    transition-delay:0.5s;
}
.section6 .img-list .img:nth-child(6) {
    transition-delay:0.6s;
}

@media (max-width:800px) {
    .section6 .container {
        display: block
    }

    .section6 .item {
        margin-bottom: 50px;
    }

    .section6 .text1 {
        margin-top: 10px;
    }

    .section6 .line {
        display: none;
    }
}

/* SECTION7*/
.section7 {
    background-image:url(img/sc7-bg1.png);
    height:95vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section7 .box {
    display:flex;
    gap:50px;
    background: rgba(255, 255, 255, 1);
    padding:180px 130px;
    width:1200px;
}

.section7 .section-title {
    background: rgba(255, 255, 255, 1);
    text-align: left;
}

.section7 .account-box {
}
.section7 .name {
    margin-bottom:50px;
    width:600px;
}

.section7 .password {
    margin-bottom:80px;
    width:600px;
}
.section7 .btn {}

/* SECTION8*/
.section8 {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.section8 .section-title {
    text-align: left;
    margin-bottom:50px;
}

.section8 .section-title .btn {
    margin-left:30px;
    margin-top:20px;
}

.section8 .container {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
}

.section8 .container .img-box {
    width:500px;
    height:400px;
    margin-bottom:15px;
    overflow:hidden;
    object-fit:cover;
}

.section8 .text1 {
    text-align:center;
    margin-bottom:15px;
}

.section8 .container .btn {
    margin:0 auto;
}

.section8 .container img {
    width: 100%;
}

@media(max-width:800px) {
    .section8 .text-box {
        column-count: 1;
    }
}

/* SECTION9*/
.section9 {
    background-color: #f8f8f8;
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    overflow:hidden;
}

.section9 .section-title {}

.section9 .container {
    display: flex;
    gap: 30px;
}

.section9 .item img {
    transition:1s;
    overflow:hidden;
}
.section9 .item:hover img {
    transform:scale(1.05);
}

.section9 .item .img-box {
    margin-bottom: -80px;
    margin-left:2px;
}

.section9 .img-box img {
    width: 100%;
}

.section9 .text-box {}

.section9 .text-box .text1 {
    background-color: #f8f8f8;
    width: calc(100% - 60px);
    box-sizing: border-box;
    padding-top: 10px;

}

.section9 .text-box .text2 {
    background-color: #f8f8f8;
    width: calc(100% - 60px);
    box-sizing: border-box;
    padding-bottom: 30px;
}

.section9 .text-box .more-btn {
    margin-left:30px;
}

/* SECTION10 -샵 슬라이드*/
.section10 {
    overflow-x: hidden;
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.section10 .container {}

.section10 .item {}

.section10 .img-box {}

.section10 .item .img-box:hover img {
    filter:blur(2px);
    transition:1s;
}
.section10 .img-box img {
    width: 100%;
}

.section10 .img-box .wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.section10 .img-box .bg {
    width: 100%;
    height: 0%;
    transition: 0.5s;
    background-color:rgba(0, 0, 0, 0.5);
}

.section10 .img-box .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
    color:white;
}

.section10 .img-box:hover .bg {
    height: 100%
}

.section10 .item .img-box:hover .btn {
    opacity: 1;
}

.section10 .text-box {
    text-align: center;
}

.section10 .text-box .star {
    color: var(--point-color);
    margin-bottom: 10px;
}

.section10 .text-box .text2 {}
.section10 .text-box .text2 .textline {
    text-decoration: line-through;
}

.section10 .owl-nav {
    width: calc(100% + 100px);
    left: -50px;
    top: 37%;
}

.section10 .slider3 {
    padding-bottom: 30px;
}

@media(max-width:900px) {
    .section10 .owl-nav {
        display: none;
    }
}

                    /* SECTION11 */

.section11 {
    background-image:url(img/sc11-bg1.png);
    height:95vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:0;
    padding-bottom:0;;
    overflow:hidden;
}

.section11 .box {
    display:flex;
    gap:50px;
    background: rgba(255, 255, 255, 1);
    padding:180px 150px;
    width:900px;
}

.section11 .logo {
    margin-top:20px;
}

.section11 .fa-brands {
    margin-right:10px;
}

.section11 .section-title {
    background: rgba(255, 255, 255, 1);
    text-align: left;
}

.section11 .email-box {
}
.section11 .name {
    width:200px;
    margin-bottom:50px;
}

.section11 .email {
    width:200px;
    margin-bottom:80px;
}
.section11 .btn {}


.aa {
    transition: 1s;
}